@import "_constants";
@import "_global-class";

.footer {
  position: fixed;
  background: $main-color-bg;
  min-width: 100%;
  height: 3rem;
  bottom: 0;

  &__container {
    color: $main-color-text;

    .footer__content {
      align-self: center;
      justify-self: center;
    }
  }
}
