.header {
  background-color: black;
  width: 100vw;
  height: 7vh;

  &__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;

    &--item {
      display: grid;
      position: relative;
      cursor: pointer;
    }

    &--item > * {
      align-self: center;
      justify-self: center;
    }

    &--item:hover > * {
      color: #e8c300;
    }

    &--item:nth-child(4) {
      grid-column: 5;
    }

    &--item::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 0.2rem;
      background-color: #e8c300;
    }

    &--item:hover:after,
    &--item:focus:after {
      width: 100%;
    }
  }
}
