<header class="header">
  <ul class="header__container" id="mediaHeader">
    <li
      class="header__container--item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/about" class="item-about">о ресторане</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/team" class="item-team">команда</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/orders" class="item-order">заказ</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/menu" class="item-menu">меню</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/events" class="item-events">мероприятия</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/contacts" class="item-contacts">контакты</a>
    </li>
  </ul>
  

  <!-- <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div> -->
  <!-- <app-burger-menu></app-burger-menu> -->
</header>
