.header {
  position: fixed;
  background-color: inherit;
  width: 100vw;
  height: 7vh;
  z-index: 100;

  &__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;

    &--item {
      display: grid;
      position: relative;
      cursor: pointer;
    }

    &--item > * {
      align-self: center;
      justify-self: center;
      transition: 0.8s;
    }

    &--item:hover > *,
    &--item:focus > *,
    &--item:active > * {
      color: #e8c300;
      transition: 0.8s;
    }

    &--item:nth-child(4) {
      grid-column: 5;
    }

    &--item::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 0.2rem;
      background-color: #e8c300;
    }

    &--item:hover:after,
    &--item:focus:after,
    &--item:active:after {
      width: 100%;
    }
  }
}
