<header class="header">
  <ul class="header__container">

    <li class="header__container--item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/about-page" class="item-about">о ресторане</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/team-page" class="item-team">команда</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/orders-page" class="item-order">заказ</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/menu-page" class="item-menu">меню</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/events-page" class="item-events">мероприятия</a>
    </li>

    <li class="header__container--item" routerLinkActive="active">
      <a routerLink="/contacts-page" class="item-contacts">контакты</a>
    </li>
  </ul>
</header>
