@import "_constants";
@import "_global-class";
@import "_mixins";

:host {
  display: block;
}

.contacts-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url(../../../assets/contacts_bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;

  .page__container {
    @include three-r-c;

    .yandex-map {
      grid-column: 2;
      grid-row: 2;
      border: 4px solid $corporate-color;
      z-index: 10;
    }
  }
}

.contacts-page:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.5;
}
