* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $main-color-bg;
  font-family: "Open Sans", sans-serif;
}

a,
span,
p {
  font-size: calc(0.4rem + 10 * (100vw / 1280));
}

a {
  color: $main-color-text;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

li {
  list-style-type: none;
}
