@mixin three-r-c {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr 1fr 1fr;
}

@mixin one-r-two-c {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}
