<div class="central-block">
  <span class="central-block__restaurant">ресторан</span>
  <span class="central-block__name">o&k burger</span>
  <div class="central-block__line"></div>
  <div class="buttons-block">
    <button class="buttons-block__btn">заказать столик</button>
    <button class="buttons-block__btn">о ресторане</button>
  </div>
  <ul class="social-media">
    <!-- <app-social-media-btn
      class="social-media__item"
      [btnClass]="socialBtns.class"
      [btnSvg]="socialBtns.btnSvg"
    >
  </app-social-media-btn> -->
  </ul>
</div>
