@import "_constants";

.central-block {
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 0.1fr 0.5fr 0.7fr;
  height: 100%;
  width: 100%;
  color: $main-color-text;
  text-transform: uppercase;
  align-items: center;

  .social-media {
    align-self: center;
    justify-self: center;
    transform: rotate(90deg);

    &__item {
      width: 100%;
      height: 100%;
    }
  }

  .buttons-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  &__restaurant,
  &__name,
  &__line,
  .buttons-block {
    text-align: center;
    align-self: center;
    justify-self: center;

    &__btn {
      font-size: 0.9rem;
      font-weight: bold;
      padding: 1rem 2rem;
      color: $main-color-text;
      background: none;
      border: 1px solid $main-color-text;
      border-radius: 0.5rem;
      text-transform: uppercase;
      transition: 0.8s;
    }

    &__btn:hover {
      color: $main-color-text;
      background: $corporate-color;
      transition: 0.8s;
    }
  }

  &__restaurant {
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__name {
    font-family: "Kurale", serif;
    font-size: 4rem;
    color: $corporate-color;
  }
}
