@import '_constants';

.social-media__item {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  padding: 0.6rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
  z-index: 1000;
}

.social-media__item:hover a > *,
.social-media__item:focus a > *,
.social-media__item:active a > * {
  fill: $corporate-color;
  transition: 0.8s;
}

.social-media__item:hover,
.social-media__item:focus,
.social-media__item:active {
  opacity: 1;
  border-color: $corporate-color;
  transition: 0.8s;
}
